
/*-------------------------- variables --------------------------*/
:root {
    /* theme font-family */
    --Anton: 'Anton', sans-serif;
    --Abel: 'Abel', sans-serif;
    --blueish: rgb(83, 83, 175);
    --redish: rgb(151, 5, 5);
    --bgcolor: linear-gradient(130deg, #fdcbf1 0%, #fdcbf1 20%, #e6dee9 100%);


}


/*----------------------------- body ------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: var(--bgcolor);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: auto;
    margin:0 auto;
    font-family:var(--Abel);
}

body {
    height: 100vh;
}

/*------ logo --------*/
.logo {
    font-size: 3rem;
    font-family: var(--Anton);
    padding: 1rem;
    color:var(--blueish);
}


/*------ main part -------*/
main{
    padding: 3%;
}


/*----------------------------- input -----------------------------*/
.container {
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    padding: 1%;
    border-radius: 5px;
}

/*------ Input text -------- */
#input[type='text'] {
    flex-grow: 1;
    height: 3%;
    background-color: #fff;
    font-size: 1rem;
    font-family: var(--Abel);
    outline: 0;
    border:none;
}

/* ----- Add button ------- */
#add{
    text-align: right;
    font-size: 2rem;
    background-color:#fff;
    outline: 0;
    border:none;
    color:var(--blueish);
}
#add:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}



/*------------------------- list of tasks ----------------------------*/
.grid_container{
    display: flex;
}
h2 {
    color:rgba(241, 227, 243, 0.5);
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    padding:5%;
    text-align: center;
    border: 1px solid rgba(204, 127, 214, 0.5);
    border-radius: 5px;
}
.done ,
.doing,
.toDo {
    margin:2% 0 0 1%;
    padding: 0.5rem 0.5rem;
    width:32%;
    height: 100%;
    border-radius: 5px;
    background-color:var(--blueish);
    line-height: 1.5rem;
    font-family: var(--Abel);
    color: #fff;
}
/*----------- placeHolders -------*/
.placeHolder {
    color: rgba(241, 227, 243, 0.5);
    padding: 2%;
}
/*---------- li ---------*/
.toDoItem, .doingItem, .doneItem {
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #888;
    padding: 0px 0;
    font-size: 1rem;
}
/*--- list items texts ---*/
.textItem{
    flex-grow: 1;
}



/*--------------- [start/delete/edit/finish] buttons ----------------*/
.start,
.finish,
.trash,
.edit {
    float: right;
    padding: 10px 5px ;
    color:#fff;
}

.start:hover {
    color:rgb(41, 124, 83);
    cursor: pointer;
    transform: scale(1.5, 1.5);
}
.finish:hover{
    color:rgb(41, 124, 83);
    cursor: pointer;
    transform: scale(1.5, 1.5);
}

.edit:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
}

.trash:hover {
    cursor: pointer;
    color:rgb(151, 5, 5);
    transform: scale(1.5, 1.5);
}

/*----- Delete all button ------*/
.deleteAll{
    display: flex;
    text-align: right;
    margin-top: .5rem;
    padding: 1% 1%;
    cursor: pointer;
    font-size: 0.9rem;
    color: #fff;
    background-color:rgba(241, 227, 243, 0.5);
    outline: 0;
    border:none;
}
.deleteAll:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    background-color:var(--redish);
}
.hidden {
    display: none;
}

/*----- clear the page button ------*/
#clearThePage{
    width:10%;
    font-family: var(--Abel);
    background-color:var(--blueish);
    font-size: 1.1rem;
    margin:2% 1% 2% 2%;
    padding: 1%;
    border: none;
    border-radius: 5px;
    color:rgba(241, 227, 243, 0.5);
    float: right;
    clear: both;
}

#clearThePage:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    color: #fff;
    font-weight: bolder;
}
/*---------------------------- Responsive Design------------------------*/
@media only screen and (max-width: 600px){
    .logo{
        font-size: 1rem;
        width:70%;
        height: 30px;
    }
    
    #input {
        width: 90%;
        
    }
    .toDoItem {
        width: 100%;
    }
    .grid_container {
        display: grid;
        align-items: center;
        margin-top: 20px;
    }
    .done, .doing, .toDo {
        width:90%;
        height:100%;
        margin:2% 0 4% 4%;
    }
    .doing{
        background-color: rgb(181, 180, 241);
        color: var(--blueish);
    }
    .doing h2, .doing i, #placeHolderDoing {
        color: var(--blueish);
    }
    .doing h2{
        border-color: var(--blueish);
    }
    #clearThePage{
        border:1px solid white;
        margin-bottom: 30px;
        width:40%;
        align-items: center;
        float: none;
        margin-left: 30%;
    }
}